<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

<title>{{title}}</title>
<link href="{{{url}}}"/>
<updated>{{updated}}</updated>
<author>
  <name>{{author.name}}</name>
  <email>{{author.email}}</email>
</author>
<id>{{{id}}}</id>

{{#entries}}
<entry>
  <title>{{title}}</title>
  <link href="{{{url}}}"/>
  <id>{{{id}}}</id>
  <updated>{{updated}}</updated>
  <summary>{{title}}</summary>
</entry>
{{/entries}}

</feed>
