{{<layout}}
{{$title}}Blog{{/title}}
{{$content}}
    <section class="index-posts">
        {{#posts}}
        <article>
            <header>
                <h2><a href="{{relDir}}/posts/{{slug}}.html">{{{title}}}</a></h2>
            </header>
            <footer>
                <p>
                    <time pubdate datetime="{{dateStr}}">Published on {{dateStr}}</time>
                </p>
                <p>
                    <span class="disqus-comment-count" data-disqus-identifier="{{disqusId}}"></span>
                </p>
            </footer>
        </article>
        {{/posts}}
    </section>
{{/content}}
{{$scripts}}
    <script id="dsq-count-scr" src="https://nadako.disqus.com/count.js" async></script>
{{/scripts}}
{{/layout}}
