{{<layout}}
{{$title}}{{post.title}}{{/title}}
{{$content}}
        <article class="post"{{#post.lang}} lang="{{.}}"{{/post.lang}} itemscope itemtype="http://schema.org/BlogPosting">
            <header>
                <h1 itemprop="headline">{{{post.title}}}</h1>
                <section class="post-meta">
                    <time itemprop="datePublished" datetime="{{post.dateStr}}">Published on {{post.dateStr}}</time>
                    <span class="tags">{{#post.tags}}#{{.}} {{/post.tags}}</span>
                </section>
            </header>
            <section itemprop="articleBody">
                {{{post.content}}}
            </section>
        </article>
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{{/content}}
{{$scripts}}
<script>
var disqus_config = function() {
    this.page.url = "{{{post.disqusUrl}}}";
    this.page.identifier = {{post.disqusId}};
};
(function() {
var d = document, s = d.createElement('script');
s.src = 'https://nadako.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
{{/scripts}}
{{/layout}}
