{{<layout}}
{{$title}}{{post.title}}{{/title}}
{{$content}}
<article>
    <header>
        <h2>{{{post.title}}}</h2>
        <p>
            <time>{{post.dateStr}}</time>
            {{#post.tags}}{{.}} {{/post.tags}}
        </p>
    </header>
    <section>
        {{{post.content}}}
    </section>
</article>
<div id="disqus_thread"></div>
<script>
var disqus_config = function() {
    this.page.url = "TODO";
    this.page.identifier = {{post.disqusId}};
};
(function() {
var d = document, s = d.createElement('script');
s.src = 'https://nadako.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{{/content}}
{{/layout}}
